# A OAuth Client ID is not a secret by itself (it is safe even if obtained),
# but embedding it in open source projects is prohibited by:
# https://developers.google.com/terms#b_confidential_matters
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
